/* This file is under many different licenses. All of which are compatible with the AGPL-3.0 license */

/* Import pikaday CSS */
@import '../node_modules/pikaday/css/pikaday.css';

/* This popup CSS is derived from https://github.com/heb12/heb12-desktop/blob/develop/app/style.css under the GPL-3.0-or-later license. Copyright (C) 2018 MasterOfTheTiger */
.popup {
    display: none;
    position: fixed;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    padding: 16px;
    border: 2px solid;
    border-radius: 7px;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    animation-name: popup;
    animation-duration: 1s;
}
@keyframes popup {
    from {top:10px;}
    to {top: 15%;}
}
#backdrop {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .40;
    filter: alpha(opacity=40);
    animation-name: backdrop;
    animation-duration: 1s;
}
@keyframes backdrop {
    from {background-color: white;}
    to {background-color: black;}
}
.closePopup {
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

/* This button CSS is from https://github.com/MasterOfTheTiger/apod-extension/blob/master/css/style.css under the MIT license */
button, input[type="submit"], .button {
    border-radius: 5px;
    border-style: solid;
    border-color: #d8d8d8;
    padding: 6px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #efefef;
    font-size: 13px;
    font-family: arial;
    border-width: thin;
}
button:hover, .button:hover {
    background-color: #d8d8d8;
    cursor: default;
}
select {
    border-color: #d8d8d8;
    background-color: #efefef;
    border-style: solid;
    border-width: thin;
    padding: 5px 10px;
    border-radius: 5px;
}
