/*
* LibreCheck - free check-in software | Electron Front-end
* This is the main CSS file with style information for the LibreCheck Electron Front-end.
* 
* Copyright (C) 2018, 2019  MasterOfTheTiger
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU Affero General Public License as published
* by the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU Affero General Public License for more details.
*
* You should have received a copy of the GNU Affero General Public License
* along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('images/ice-on-blue-background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

#wrapper {
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(255, 248, 239);
}

/* Style for main page design */
#input {
}
#phoneText {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}
#phone {
    font-size: 20px;
    width: 200px;
    border-radius: 5px;
    text-align: center;
}
#searchButton {
    margin-top: 5px;
    font-size: 20;
    width: 200px;
}

/* Extras */
#adduser_added {
    color: green;
}

.checkEl div {
    padding: 5px 0px;
}

/* Sidebar */
#sidebar {
    float: right;
}

.buttons:hover {
    cursor: pointer;
}

.buttons {
    display: block;
}


/* Checked in people popup CSS */
#people div {
    padding: 5px 0;
    border-top: solid 2px;
}
#people {
    border-bottom: solid 2px;
}